	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/12/2017 10:19
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-water:before { content: "\f100"; }
.flaticon-002-sun:before { content: "\f101"; }
.flaticon-003-indoor-plants:before { content: "\f102"; }
.flaticon-004-book:before { content: "\f103"; }
.flaticon-005-monstera:before { content: "\f104"; }
.flaticon-006-gloves:before { content: "\f105"; }
.flaticon-007-guzmania:before { content: "\f106"; }
.flaticon-008-watering-can:before { content: "\f107"; }
.flaticon-009-flowers:before { content: "\f108"; }
.flaticon-010-sansevieria:before { content: "\f109"; }
.flaticon-011-prickly-pear:before { content: "\f10a"; }
.flaticon-012-pots:before { content: "\f10b"; }
.flaticon-013-thermometer:before { content: "\f10c"; }
.flaticon-014-carnivorous-plant:before { content: "\f10d"; }
.flaticon-015-zamioculcas:before { content: "\f10e"; }
.flaticon-016-bonsai:before { content: "\f10f"; }
.flaticon-017-ficus:before { content: "\f110"; }
.flaticon-018-spray-bottle:before { content: "\f111"; }
.flaticon-019-rose:before { content: "\f112"; }
.flaticon-020-sucus:before { content: "\f113"; }
.flaticon-021-chlorophytum:before { content: "\f114"; }
.flaticon-022-shovel:before { content: "\f115"; }
.flaticon-023-flower:before { content: "\f116"; }
.flaticon-024-seeds:before { content: "\f117"; }
.flaticon-025-peace-lily:before { content: "\f118"; }
.flaticon-026-pruning-shears:before { content: "\f119"; }
.flaticon-027-myrtus:before { content: "\f11a"; }
.flaticon-028-seed:before { content: "\f11b"; }
.flaticon-029-bamboo:before { content: "\f11c"; }
.flaticon-030-cactus-2:before { content: "\f11d"; }
.flaticon-031-rake-1:before { content: "\f11e"; }
.flaticon-032-aloe-vera:before { content: "\f11f"; }
.flaticon-033-cactus-1:before { content: "\f120"; }
.flaticon-034-plant-tree:before { content: "\f121"; }
.flaticon-035-palm:before { content: "\f122"; }
.flaticon-036-hanging-pot:before { content: "\f123"; }
.flaticon-037-rake:before { content: "\f124"; }
.flaticon-038-fertilizer:before { content: "\f125"; }
.flaticon-039-water-pot:before { content: "\f126"; }
.flaticon-040-cactus:before { content: "\f127"; }